#authentication {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;

  .auth-choice {
    color: white;
    text-decoration: underline;
    cursor: pointer;
    margin-top: 14px;
    display: block;
    text-align: center;
  }
}