#login {
  background-color: rgba($color: #ABB2B9, $alpha: 0.2);
  border-radius: 10px;
  padding: 12px;
  height: 280px;

  .btn-container {
    margin-top: 24px;
    display: flex;
    justify-content: center;
  }
}