#input-custom {
  padding: 12px;

  label {
    display: block;
    color: #FFF;
    margin: 0 0 6px 8px;
  }

  input {
    border: none;
    border-radius: 24px;
    padding: 4px;
    height: 42px;
    font-size: 18px;
  }
}