<div id="chat">
  <section class="container">
    <ng-container [ngTemplateOutlet]="conversation"></ng-container>
  </section>

  <section class="message-field">
    <textarea name="" id="msg-field" rows="6"></textarea>
    <button>send</button>
  </section>

  <ng-template #conversation>
    <section class="msg-container left">
      <div class="message">
        <p class="author subtitle">Foo :</p>
        <p class="content">message</p>
        <p class="date">10/20/30</p>
      </div>
    </section>

    <section class="msg-container right">
      <div class="message">
        <p class="author subtitle">Bar :</p>
        <p class="content">message</p>
        <p class="date">10/20/30</p>
      </div>
    </section>
  </ng-template>
</div>
